{% extends 'Base/base.html.twig' %}


{% block body %}

    <h1>Accueil</h1><br/>
    {% if app.user %}

        <p>Bienvenue {{ app.user.userIdentifier }} !<p>

    {% endif %}


    <div id = "image">
        <img src="{{ asset('Mix-Fruits-Basket-PNG-Pic.png') }}" alt="Panier Fruits">
    </div>


    <div id="flash">
        {% include 'Layouts/flash.html.twig' %}
    </div>

{% endblock %}