{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Anonyme/accueil.css') }}" />
{% endblock %}

{% block body%}

    <div id="imgBack">
        <p>Accueil</p>

        {% if app.user %}

            <p>Bienvenue {{ app.user.userIdentifier }} !<p>

        {% endif %}


        <div id="flash">
            {% include 'Layouts/flash.html.twig' %}
        </div>
    </div>

{% endblock %}