{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Layouts/form.css') }}" />
{% endblock %}

{% block body %}
    <p>signIn</p>
    {{ form(userSignIn) }}
{% endblock %}