
{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Layouts/form.css') }}" />
{% endblock %}

{% block body %}

    <div class="form">

        <form class="divForm" method="post">

            <h3>Login</h3>

            <input type="text" value="{{ last_username }}" name="login" autocomplete="username" required autofocus placeholder="Login">


            <input type="password" name="password"  autocomplete="current-password" required placeholder="Password">


            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <p class="errorForm">Votre login ou votre mot de passe n'est pas bon.</p>
            {% endif %}

            <button type="submit">Connexion</button>

        </form>

    </div>

{% endblock %}