{# bas de page #}

{#  <img src="{{asset('Mix-Fruits-Basket-PNG-Pic.png')}}" title="my image" alt="My image">#}
<a class="aRedirect" href="https://www.mangerbouger.fr" target="_blank" rel="noopener noreferrer">www.mangerbouger.fr</a>