{# entête du site #}

<div id="topHeader">
    <p><a id="title" href="/">Fruits.io</a></p>

    <div class="rightHeader">

        {{ render(controller('App\\Controller\\UserController::getSizePanierAction')) }}

        {{ render(controller('App\\Controller\\AnonymeController::imgUserAction')) }}

    </div>
</div>
