{# template racine (niveau 1)#}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fruits.io{% endblock %}</title>
        {% block css %}
             <link rel="stylesheet" href="{{ asset('css/Layouts/layout.css') }}" />
        {% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body>

        <header>
            {% block header %}{% endblock %}
        </header>

        <div id="menu">
            {% block menu %}{% endblock %}
        </div>

        <div id="bodyBox">

            <div class="borderBody leftBody"></div>

                <div id="body">
                    {% block body %}{% endblock %}
                </div>

            <div class="borderBody rightBody"></div>

        </div>

        <footer>
            {% block footer %}{% endblock %}
        </footer>

    </body>
</html>
