{# menu de l'application #}

<div class="menu"><a>Accueil</a></div>

{% if isAuth %}

    <div class="menu"><a>Edit Profile</a></div>

{% endif %}

{% if not isAuth %}

    <div class="menu"><a>Login</a></div>
    <div class="menu"><a>SignIn</a></div>

{% endif %}

{% if isAuth and not isSuperAdmin %}

    <div class="menu"><a>Panier</a></div>
    <div class="menu"><a>Products</a></div>

{% endif %}

{% if isAuth and isAdmin and not isSuperAdmin %}

    <div class="menu"><a>Edit Users</a></div>
    <div class="menu"><a>Add Products</a></div>
    <div class="menu"><a>The Truman Show</a></div>

{% endif %}

{% if isAuth and not isAdmin and isSuperAdmin %}

    <div class="menu"><a>Edit Users + Admin ?</a></div>
    <div class="menu"><a>Add Admin</a></div>

{% endif %}
