{% extends 'Base/base.html.twig' %}

{% block body %}

    <p>{{ categorie }}</p>

    {% for product in products %}
        <ul>
            <li>Name : {{ product.nom }}</li>
            <li>Price : {{ product.prix }} </li>
            <li>Quantity : {{ product.quantity }}</li>
        </ul>
    {% endfor %}

{% endblock %}