{% extends 'Base/base.html.twig' %}


{% block body %}

    <div class="product">
        <a href="/product/agrumes"><img src="{{ asset('/Images/agrumes.png') }}" alt="agrumes">Agrumes</a>
        <a href="/product/redFruits"><img src="{{ asset('/Images/redFruits.png') }}" alt="redFruits">Red Fruits</a>
    </div>
    <div class="product">
        <a href="/product/exotic"><img src="{{ asset('/Images/exotic.png') }}" alt="exotic">Exotic Fruits</a>
        <a href="/product/autres"><img src="{{ asset('/Images/autres.png') }}" alt="autres">Autres</a>
    </div>

{% endblock %}