.form{
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 60%;
    height: 20%;
    border-radius: 15px;
}

.divButton{
    display: flex;
    justify-content: center;
}

input[type=button], input[type=submit], input[type=reset], button{
    background-color: #064005;
    border: none;
    color: white;
    /*padding: 10px 30px;*/
    padding: 2% 4%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=text]{
    background-color: #FAFFFA;
    border: 2px solid black ;
    color: white;
    /*padding: 10px 30px;*/
    padding: 0.5% 3%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

label{
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: calc(0.6vw + 0.9vh);
}

.errorForm {
    background-color: #F62626;
}