header{
    background: #064005;
    width: 100%;
    height: 15%;
}

#title{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    /*font-size: 64px;*/
    font-size: 4vw;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin-top: 1%;
    margin-left: 1%;

    /* met le titre avec 3 couleurs
    background: linear-gradient(to right, red 0.1%, yellow 10%, yellow 60%);
    -webkit-background-clip: text;
    color: transparent;
    */
}
