html, body, div, p, header, footer{
    margin: 0;
    padding: 0;
}

a, a:visited{
    text-decoration: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    /*font-size: 20px;*/
    /*font-size: 1.2vw;*/
    font-size: calc(0.8vw + 1.4vh);
    line-height: 24px;
    color: #FFEA2D;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#bodyBox{
    width: 100%;
    height: 67%;
    display: flex;
    flex: auto;
}
/*Les cotés du milieu de la page*/
.borderBody{
    background: #FFFFFF;
    width: 20%;
    height: 100%;
}
.leftBody{
    box-shadow: inset -10px 0 10px -5px rgba(161, 161, 161, 0.3);
}
.rightBody{
    box-shadow: inset 10px 0 10px -5px rgba(161, 161, 161, 0.3);
}
/*le milieu de la page*/
#body{
    background: #FAFFFA;
    /*flex-grow : 1;*/
    width: 60%;
    height: 100%;
    overflow:auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

