{% extends 'Base/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/User/listProduct.css') }}" />
{% endblock %}

{% block body %}

    <div class="product">

        <a class="blockProduct" href="/product/citrus">
            <div class="back citrus"></div>
            <p class="pProduct">Citrus Fruits</p>
        </a>

        <a class="blockProduct" href="/product/redFruits">
            <div class="back redFruits"></div>
            <p class="pProduct">Red Fruits</p>
        </a>

        <a class="blockProduct" href="/product/exotic">
            <div class="back exotic"></div>
            <p class="pProduct">Exotic Fruits</p>
        </a>

        <a class="blockProduct" href="/product/others">
            <div class="back others"></div>
            <p class="pProduct">Others Fruits</p>
        </a>
    </div>

{% endblock %}