{% extends 'Base/base.html.twig' %}


{% block body %}
    <p>panier</p>
    <ul>
        <li> prix : {{ panier.price }}</li>
        <li> quantité : {{ panier.quantity }} </li>
    </ul>
{% endblock %}